[project]
	description = Node.js Hello World app running on CentOS using docker
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kalin (qianqiaoneng)
[access "refs/for/refs/*"]
	read = group user/Kalin (qianqiaoneng)
	push = group user/Kalin (qianqiaoneng)
	label-Code-Review = -2..+2 group user/Kalin (qianqiaoneng)
	label-Verified = -1..+1 group user/Kalin (qianqiaoneng)
	rebase = group user/Kalin (qianqiaoneng)
	removeReviewer = group user/Kalin (qianqiaoneng)
	submit = group user/Kalin (qianqiaoneng)
[access "refs/heads/*"]
	read = group user/Kalin (qianqiaoneng)
	create = group user/Kalin (qianqiaoneng)
	push = +force group user/Kalin (qianqiaoneng)
	pushMerge = group user/Kalin (qianqiaoneng)
[access "refs/tags/*"]
	push = +force group user/Kalin (qianqiaoneng)
	pushTag = group user/Kalin (qianqiaoneng)
	pushSignedTag = group user/Kalin (qianqiaoneng)
